.gradient {
  background: linear-gradient(90deg,var(--pink) 0%, var(--blue) 100%);
}
.hover-gradient {
  background: linear-gradient(90deg,var(--blue) 0%, var(--pink) 100%);
}



.slick-prev, .slick-next{
  display: none !important;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.para-line-height{
  line-height: 55px;
}

@media (max-width: 480px) {
  .para-line-height{
    line-height: 40px;
  }
}


@font-face {
  font-family: 'Aminute';
  src: url('./assets/fonts/Aminute.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ibrand';
  src: url('./assets/fonts/Ibrand.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Kangge';
  src: url('./assets/fonts/Kangge.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Glyke';
  src: url('./assets/fonts/CCSGlykeRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Haniva';
  src: url('./assets/fonts/Haniva-VF.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.margin-top-hero{
  position: relative;
  margin-top: 90vh;
  z-index: 50;
  background-color: white;
}
.margin-top-Subhero{
  position: relative;
  margin-top: 60vh;
  z-index: 50;
  background-color: white;
}

.margin-top-about{
  position: relative;
  margin-top: 75vh;
  z-index: 50;
  background-color: white;
}

@media (max-width: 480px){
  .margin-top-about{
  position: relative;
  margin-top: 88vh;
  z-index: 50;
  background-color: white;
}
}

.right-slide-z-index{
  z-index: 1000px;
}

.custom-line-height{
  line-height: 55px;
}

@media (max-width: 480px) {
  .custom-line-height{
    line-height: 40px;
  }
}

/* hide horizontal scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}