.gradient {
  background: linear-gradient(90deg,var(--pink) 0%, var(--blue) 100%);
}


.slick-prev, .slick-next{
  display: none !important;
}

body {
  font-family: 'Glyke', sans-serif;
  font-size: 24px;
}

@font-face {
  font-family: 'Aminute';
  src: url('./assets/fonts/Aminute.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ibrand';
  src: url('./assets/fonts/Ibrand.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Kangge';
  src: url('./assets/fonts/Kangge.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Glyke';
  src: url('./assets/fonts/CCSGlykeRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.margin-top-hero{
  position: relative;
  margin-top: 90vh;
  z-index: 50;
  background-color: white;
}